body{
  background-color:#ffffff;
  flex-direction: column;
  color: black;
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label{
  font-size: medium;
  margin: 5px;
}
.main-input{
  width:200px;
  height: 25px;
  background-color: #fdfdfd;
  color: black;
}
.item{
  display: flex;
  max-width: 500px;
  margin: auto;
  margin:5px;
}
.row{
  display: flexbox;
  max-width: 500px;
  color: black;
  margin: auto;
  overflow: auto;
}
.seat{
  margin:5px;
  height: 40px;
  display: inline ;
  width:40px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  background-color: #444451;
}
h2{

  font-weight: 300;
  text-transform: capitalize;
  color: rgb(30, 33, 189);

}
.screen{
  background-color: rgb(141, 149, 150);
  height: 80px;
  margin-left:390px;
  margin-right:300px;
  margin-top:20px;
  width:50%;
  transform: skew(150deg);
  box-shadow: 0 3px 10px rgba(255,255,255,0.75);
}

.App {
  text-align: center;
  color: white;
  line-height: 40px;
  perspective: 1000px;
  margin-bottom: 30px;
}

.occupied{
  margin:5px;
  height: 40px;
  display: flexbox;
  width:40px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor:  not-allowed;
  background-color: rgb(255, 158, 158);
}
 
select{
  width:170px;
  height:30px;
  margin-left: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 2px;
}

.book{
  /* margin-top: 100px; */
  align-items: center;
 padding-top: 50px;
  justify-content: center;
  background-color: #328f8a;
  height: 800px;
  color:white;
  background-image: url("assets/img1.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 1500px 800px;

}

.movieselect {
  border: 3px;
  border-color: red;
  margin-top:200px;
  margin-right: 100px;
  float: right;
  font-size: 28px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
 .movieselect input{
    width:150px;
    height: 28px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.route{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 15px;
  width: 200px;
  /* margin-right: 220px; */
  /* margin-left: 100px; */
  text-align: center;
  text-decoration: none;
  margin-right: 30px;
  display: inline;
  font-size: 20px;

}
.routes{
  background-color:darkturquoise; /* Green */
  border: none;
  color:darkred;
  padding: 8px 15px;
  width: 100px;
  /* margin-right: 220px; */
  /* margin-left: 100px; */
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  font-weight: 20px;

}

.submit{
  background-color:darkturquoise;
  border:none;
  color:darkred;
  cursor: pointer;
  display: inline;
  width:100px;
  padding: 8px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-left: 200px;
}
.logo{
  padding-left: 20px;
  align-items: center;
  color:rgb(57, 229, 235) ;
  padding-top: 14px;
  vertical-align: middle;
  font-style: inherit;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Login Page */

.login-header h3{
  color:rgb(18, 216, 223)
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #000000;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.selecteds{
  margin-top: 10px;
  color:black;
  display: flex;
  padding-inline-start: 0;
  align-items: center;
  justify-content: center;
 list-style: none;
}

.selected{
  display: none;

}
.selected.on{
  display: inline-block;
}
.selected.on~.selected.on::before{
  content: ',';
}


.contact{
  margin-top: 120px;
  justify-content: center;
  align-items: center;
}
.head{
  font-size: 4vw;
  color: #4c28e9da;
  margin-left:500px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.conf-des{
  background-color: rgb(254, 253, 253);
  height:800px;
  padding-top: 150px;
  text-align: center;
 
}
.conf{
  outline: 2px solid white;
  height:350px;
  width:500px;
  background-color: #f2f2f2;
  margin-left: 500px;
 
  
}
.conf h1{
 padding-top: 30px;
 font-family: 'Courier New', Courier, monospace;
 color: rgb(24, 230, 192);
 
}
.conf p{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color:rgb(7, 1, 1);
}
.conf span{
  color: rgb(105, 48, 237);
  font-weight: 400;
}